.filter {
  margin-top: 73px;
  height: 120vh;
  overflow-y: scroll;
  /* justify-content: center;
  align-items: center; */
  /* margin-left: 30px; */
  /* height: 100%; */
}
/* .fa-filter{
  color: red;
  background-color: saddlebrown;
} */
/* .date-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-filter h4 {
  color: #2b3b5c;
} */
/* .review-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .review-filter h4 {
  color: #2b3b5c;
} */
/* .group-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.group-filter h4 {
  color: #2b3b5c;
} */
/* .portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .portfolio-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
/* .portfolio-text {
  display: flex;
  flex-direction: row;
} */
/* .portfolio h4 {
  color: #2b3b5c;
} */
