.filter-inner {
  /* top: 160px;
  left: 1619px; */
  width: 320px;
  height: 75px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  background-color: #cbcbd3;
  /* background-color: red; */
}
.fa-filter {
  margin-left: 45px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3b5c;
  padding: 1px;
}
