.filter-inner {
<<<<<<< HEAD
  width: 100%;
  height: 65px;
=======
<<<<<<< HEAD
  width: 100%;
  height: 65px;
=======
  /* top: 160px;
  left: 1619px; */
  width: 320px;
  height: 75px;
>>>>>>> 0c25c27d8a678eb6ed4d5d5c2425947df4b9c6a0
>>>>>>> d0983a52345829f334c541f0f55c6ebad7b3473e
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  background-color: #cbcbd3;
  /* background-color: red; */
}
.fa-filter {
  margin-left: 45px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3b5c;
  padding: 1px;
}
