.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eff1f3;
}
.sidenav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #383e4c;
}
.header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #383e4c;
}
.home {
  display: flex;
  flex-direction: row;
}
.filter {
  margin-top: 73px;
}
.filter-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccccd3;
}
.filter-inner h4 {
  margin-left: 10px;
}
.fa-filter {
  height: 25px;
  width: 25px;
  border-radius: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2b3b5c;
  padding: 1px;
}
.date-filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.datepicker-1 {
  width: 180px;
}
