.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #e9e9ec;
  /* height: 100vh; */
  /* font-family: "Merriweather", serif; */
}
.sidenav {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #383e4c;
}
.header {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #383e4c;
}
.tab {
  height: 74vh;
}
